{% extends 'book/base.html' %}
{% block content %}
<div style="width: 80%; margin: auto;">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">BOOK_NAME</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">FIRST PUBLICATIN</th>
        <th scope="col">LAST PUBLICATIN</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.book_name}}</td>
        <td>{{item.author}}</td>
        <td>{{item.category}}</td>
        <td>{{item.first_pub}}</td>
        <td>{{item.last_pub}}</td>
        <td><a class="btn btn-primary" href="{% url 'editbook' pk=item.id%}">EDIT</a><a class="btn btn-danger" href="{% url 'deletebook' pk=item.id%}">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
  {% endblock %}