{% extends 'book/base.html' %}
{% block content %}
<div style="width: 80%; margin: auto;">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">BOOK_NAME</th>
        
      </tr>
    </thead>
    <tbody>
    {% for i in form %}    
      <tr>
        <td>{{i.id}}</td>
        <td><a href="{% url 'book_details' i.id %}">{{i.book_name}}</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}